table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  table-layout: fixed;
}
thead th {
 
  padding: 10px;
  text-align: left;
}

.cartData td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}
.btn {
  background-color: greenyellow;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn:hover {
  background-color:  greenyellow;
}

.minus {
  background-color: rgba(206, 41, 41, 0.758);
}

.clear {
  background-color:bisque;
}

.plus {
  background-color: lightblue;
}

