.wrapper {
  height: 100vh;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  place-items: center;
}

.products {
  border-radius: 15px;
  width: 200px;
  height: 250px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ccc;
  padding: 10px;
}
.products img {
  max-width: 100%;
  max-height: 120px;
  object-fit: contain;
  margin-bottom: 10px;
}

.products p {
  margin: 0;
}

.button {
  background-color: pink;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: black;
  color: #ccc;
}

.header {
  padding: 10px;
  color: aqua;
}

.btn {
  background-color: green;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: black;
  color: #ccc;
}

/* Media query for screens between 600px and 900px (medium screens) ok*/
@media (max-width: 900px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width:500px){
  .products-container{
    grid-template-columns: 1fr;
  }
}


 /* @media(max-width:1620px){
  .products{
    width: 100px;
  }
}  */